nav(class='navbar navbar-expand justify-content-between fixed-top')
  //- div(class='nav-header')
    //- div(class='brand')
  a(href='/', id='logo', class='navbar-brand')
    img(
      src='/public/assets/logo.svg'
      width='40px'
      height='40px'
      alt='Brand logo, click to go to home page!'
      )
  ul(class='navbar-nav')
    li(class='nav-item' id='nav-email-copy')
      a(class='nav-link')
        img(
          src='/public/assets/email@2x.png'
          width='30px'
          height='30px'
          alt='Email address, hover and click to copy!'
          )
      div(id='nav-email-copy-wrapper')
        div(id='nav-email-copy-content')
          div(class='email-address position-relative')
            input(
              id='email-text'
              type='text'
              value='ypandesign@gmail.com'
              readonly
              )
            button(id='copy-email', type='button') Copy
            input(
              id='nav-email-copy-success'
              class='hidden position-absolute'
              type='text'
              value='EMAIL COPIED'
              readonly
              )
    li(class='nav-item')
      a(
        id='nav-link-resume'
        class='nav-link'
        href='https://drive.google.com/file/d/1P6XEs50asdO_14_lSrSaYuKSvekWA2Gj/view?usp=sharing'
        target='_blank'
        data-toggle="tooltip" data-placement="bottom" title="Resume"
        )
        img(
          src='/public/assets/reseum@2x.png'
          width='30px'
          height='30px'
          alt='Resume link, click to download!'
          )
    li(class='nav-item')
      a(
        class='nav-link'
        href='https://www.linkedin.com/in/yuling-pan-china/'
        target='_blank'
        data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
        )
        img(
          src='/public/assets/linkedin@2x.png'
          width='30px'
          height='30px'
          alt='Linkedin link, click to go to!'
          )