nav(class='navbar navbar-expand justify-content-between fixed-top')
  //- div(class='nav-header')
    //- div(class='brand')
  a(href='/', id='logo', class='navbar-brand')
    img(
      src='/public/assets/logo@2x.png'
      width='40px'
      height='40px'
      alt='Brand logo, click to go to home page!'
      )
  ul(class='navbar-nav')
    li(class='nav-item')
      a(class='nav-link')
        img(
          src='/public/assets/email@2x.png'
          width='30px'
          height='30px'
          alt='Email address, hover and click to copy!'
          )
    li(class='nav-item')
      a(class='nav-link')
        img(
          src='/public/assets/reseum@2x.png'
          width='30px'
          height='30px'
          alt='Resume link, click to download!'
          )
    li(class='nav-item')
      a(
        class='nav-link'
        href='https://www.linkedin.com/in/yuling-pan-china/'
        target='_blank'
        )
        img(
          src='/public/assets/linkedin@2x.png'
          width='30px'
          height='30px'
          alt='Linkedin link, click to go to!'
          )