h2(class="next-project-header") OTHER PROJECTS
hr
div(class='row')
  each project in projects
    div(class='col-lg-6 project-next-container')
      a(href=project.link)
        div(class='project-image' style=`background-color:${project.bgColor}`)
          img(src=project.image)
        div(class='project-head')
          h2(class="project-subtitle") #{project.subTitle}
          h1(class="project-title") #{project.title}
          p(class="project-detail-text") #{project.detailText}