section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PLANNING FEATURE FOR GLOBALEUR
    p(class='col-lg-8 col-md-10').
      Trip planning is the primary feature of the Globaleur App. To simplify the process, we used to use one page to operate all functions. However, it turned out that the whole feature was even more complicated. After doing user testing, we realized that users felt so confused about our planning page, and our selling point (recommendation) was not visible to users.  The redesign of the planning page is essential to make it easy to use and increase the usage of the recommendations when users browse and organize their trips.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MY ROLE
    p(class='col-lg-8 col-md-10').
      UX research, UX design, interactive prototyping, visual design. I collaborated with other designers, PMs, researchers, and developers.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROBLEM
    p(class='col-lg-8 col-md-10').
      We used to combine all the functions into the same page (Editing, daily details, map, day tabs, add new places, etc.), because we wanted the users to start planning fast. We thought each function was simple and direct.  However, we did not realize how crowded the page was, and how difficult it would be used for users, especially those who have no idea about our products. They need to spend some time to learn how to use it.
    p(class='col-lg-8 col-md-10').
      We did user testing with new users to see how the planning function was. However, some users ended up in the wrong category, which could diminish their confidence with our platform. Some users did not have the patience to explore the functions. It was likely that this page contained so much information, users might feel lost and confused, and then they ended up leaving our site entirely. Some users did not care what the contents were, especially for our selling point - recommendations. It led to another problem: how to increase the usage of the recommendation function.
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          p.
            <strong>Too many functions displayed on one page.</strong> It is too complicated to show that much information in one app page.
        li
          p.
            <strong>The recommendation is invisible for the users,</strong> it should be highlighted.

section(class="container-fluid" id="solution")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') SOLUTION
    p(class='col-lg-8 col-md-10').
      We decided to redesign the process of planning to organize the planning steps and let users get started easily.  In the meantime, we explored more possibilities to display the recommendations.
    p(class='col-lg-8 col-md-10 list-title').
      It will be achieved through 2 goals:
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          p.
            <strong>Users would not feel lost and confused,</strong> and there is no need to spend more time to learn while they are planning the trips.
        li
          p.
            <strong>Increase the click rate of recommendations,</strong> leverage the content and rearrange the layout to highlight recommendations.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROCESS
    p(class='col-lg-8 col-md-10').
      I follow an end-to-end design process that starts with research and continues with product thinking, wireframe, user testing, design refinement, visual design, and post-launch support.
    div(class='section-img-process section-img col-lg-12 container-fluid')
      div(data-toggle="modal"
          data-target="#processModalImg"
          class='section-img-process row justify-content-md-center')
        div(class='col-lg-10 ver-hor-center')
          img(src="/public/assets/PF_process.png", alt="")

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') DESIGN TENETS
    p(class='col-lg-8 col-md-10').
      The two tenets were the guideline while I was designing the flows.
    p(class='col-lg-8 col-md-10').
      <strong>Discoverability:</strong> A.I. Trip Recommendation is one of the most prominent advantages of our platform. Users should be aware of live event offerings, famous POI (point of interest) suggestions, and viewing availability across multiple platforms.
    p(class='col-lg-8 col-md-10').
      <strong>Balance:</strong> There must be a balance between giving the user too much and too little information.  Too much, we risk overwhelming the user and complicating the process. Too little, we risk confusing them.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') COMPETITORS
    p(class='col-lg-8 col-md-10').
      We also looked for other existing products which serve a similar purpose. We did a competitive analysis on the current products like Roadtrippers and Quer, etc. They all have completed trip generation flows, which serve for different purposes. They have good user experience for dealing with complicated plan information.

section(id='persona' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Persona
    div(class='gray-bg container-fluid')
      div(class='col-content-8 row justify-content-md-center')
        div(class='col-lg-2 col-md-2 col-sm-4 col-4 ver-hor-center')
          img(src='/public/assets/persona.png')
        div(class='col-lg-6 col-md-8 col-sm-8 col-8 ver-center')
          span.
            A 28 young professional is planning his business trip in San Francisco. He is a classic and art & culture vulture tourist. It always takes a lot of time for him to make a plan, so he wants to use others template and makes minor changes based on his preference.

section(id='wireframe' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') WIREFRAME
    div(class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#wireframeModalImg"
          class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/version1.png", alt="")
    p(class='col-lg-8 col-md-10').
      For the 1st version, our team assumed that displayed all the functions in one page could help users fast navigate our app and save more clicking steps. All functions showed at the same time, so users could feel more comfortable to plan their trip.
    p(class='col-lg-8 col-md-10').
      <strong>Valuable but confusing:</strong> After we did user testing, we found out 86% of users felt confused about the planning page, indicating that it was too overwelcoming to check everything on one page.
    p(class='col-lg-8 col-md-10').
      For example "Create New" and "Use This Plan" buttons have different meanings. However, they showed at the same time in the plan preview page for various purposes. They could not indicate how the features work.
    p(class='col-lg-8 col-md-10').
      <strong>Useful but Low Usage:</strong> A few users preferred to start a new plan instead of using others' plans. Then the whole day plan recommendation showed up in the empty planning page to help save time for POI exploration. However, limited space for limited information didn't catch users' eyes.
    p(class='col-lg-8 col-md-10').
      Users expected a lot of information from the map. However, because of the limited space, the map looks too small to display the routes. All content would be pushed down when the map showed.  It is a handy function, but the size makes it useless.

    div(id='version-2-img' class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#wireframeModalImg2"
          class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Improve.png", alt="")
    p(class='col-lg-8 col-md-10').
      According to the problems we figured out from the previous version, we redesigned the planning pages.
    p(class='col-lg-8 col-md-10').
      <strong>Separated the planning page:</strong> We separated the planning page into "Planning Hub" and "Planning Detail". The page layout and hierarchy are more precise than before. Plan preview (others plan) and planning (personal) are two individual pages, although they have a similar layout.
    p(class='col-lg-8 col-md-10').
      <strong>Use a full size map:</strong> A full-screen map with a detailed route can provide more information for the users.
    p(class='col-lg-8 col-md-10').
      <strong>Visualized and highlighted recommendation:</strong> I Changed the layout of the suggestions and visualize the data to catch users' eyes.

section(id='more-exploration' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MORE EXPLORATION
    div(class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#moreExploModalImg"
          class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(id="more-exp-1" src="/public/assets/More-explo.png", alt="")
    p(id="more-exp-2" class='col-lg-8 col-md-10').
      The finish button is too highlighted on the bottom, so the users cannot help to click the button directly. I was using this big button because I would like to keep the consistency of the design with the plan preview page, but after we did user testing we found out this button is too distracting for the users. Then I decided to use the Android default done button which is located on the top right side. It is visible but not confusing.
    div(class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#moreExplorationModalImg"
          class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/MoreExploration.png", alt="")
    p(class='col-lg-8 col-md-10').
      When we completed version 2, we did another user testing with our target audiences. The majority of them did not feel confused at all, and they said this planning function is easy to use. But they still mentioned that the daily plan summary is too general to read. We decided to do more explorations on the planning hub page for the daily plan summary function.
    div(class='col-lg-8 col-md-10 info-list')
      p.
        Here is the information we can use for the hub page:
      ul(class='no-style-ul')
        li
          p &nbsp;&nbsp;&nbsp;&nbsp;- Daily routes (need a bigger map)
        li
          p &nbsp;&nbsp;&nbsp;&nbsp;- City itineraries (visualization)
        li
          p &nbsp;&nbsp;&nbsp;&nbsp;- Dates, weathers, locations, etc. (basic information)
        li
          p &nbsp;&nbsp;&nbsp;&nbsp;- Trip summary (visualization)
        li
          p &nbsp;&nbsp;&nbsp;&nbsp;- POI (visualization)
    p(class='col-lg-8 col-md-10').
      After presenting my design explorations with other designers and engineers, I found out that big images and icons simplify the information.  Visualized brief data is more intuitive and more useful. Generally, the pictured itinerary list became a winning experiment.
    //- div(class="plan-gif col-lg-12 col-md-12 ver-hor-center")
    //-   img(src="/public/assets/planning_after1.gif", alt="")
    p(class='col-lg-8 col-md-10').
      I decided to use a foldable design to avoid any visual noise so that users would engage more easily with the daily card. And it also saved more space to display the recommendations. I designed a switch toggle button to expand all the cards while clicking, so a whole trip summary will be shown.

section(id='final-design' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') FINAL DESIGN
    div(class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#finalDesignModalImg"
          class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/final.png", alt="")
    div(class="col-lg-8 col-md-10 container-fluid")
      div(class="row")
        div(class="final-plan-gif col-lg-6 col-md-6 col-sm-12")
          img(src="/public/assets/maplistD2.gif", alt="")
          p Planning
        div(class="final-plan-gif col-lg-6 col-md-6 col-sm-12")
          img(src="/public/assets/suggestionD3.gif", alt="")
          p Suggestions
    p(class='col-lg-8 col-md-10').
      "Planning Hub" and "Planning Detail" are sharing different functions, which make the planning process more organized and the purpose of the page is clearer. A big map page fully demonstrates the advantage of the map. Adequate information not only fills the white space but also improves the engagement with users.  It decreases the possibility of misunderstanding and confusing, and the users won't need time to learn while they are planning the trips.
    p(class='col-lg-8 col-md-10').
      A.I. trip recommendation is one of the most prominent advantages of our platform. Users must be comfortable to access the suggestions from our system. This new design increases the click rate for users to check the recommendations.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') REFLECTION
    p(class='col-lg-8 col-md-10').
      <strong>Utilizing user testing and data analysis:</strong> It is an excellent opportunity to gain insights from real users. After we tested our design solutions, user behaviors revealed how users work with our app. It helps to build a better product for the users.
    p(class='col-lg-8 col-md-10').
      <strong>Feedback:</strong> I feel more confident to present all possible solutions that I've explored in front of my peers. To reach maximum optimization, I continuously share my work with both designers and non-designers. Good communication is a solid foundation, and their suggestions have optimized the design.
