doctype html
html(lang="en")
    head
        meta(
            http-equiv='Content-Type'
            content='text/html; charset=UTF-8'
            )
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1, shrink-to-fit=no'
            )
        title=`Personal Web Site By Yuling Pan - ${pageName}`
        link(
            rel='stylesheet'
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
            integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
            crossorigin='anonymous'
            )
        script(
            src='https://code.jquery.com/jquery-3.4.1.min.js'
            integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='
            crossorigin='anonymous'
            )
        script(
            src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
            integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
            crossorigin='anonymous'
            )
        script(
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
            integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
            crossorigin='anonymous'
            )
        link(
            href='https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap'
            rel='stylesheet'
            )
        link(rel="stylesheet", href=css)
        script(src='/public/js/main.js')
    body
        header
            div(class='nav-header')
                div(class='brand')
                    a(hred='/', id='logo')
                        img(src='/public/assets/logo@2x.png')
                h2(id="header-name") Yuling Pan
                div(class='contact-links')
                    ul
                        li(id='email-nav')
                            a(href='#', data-email='papeny.pppp@gmail.com') Email
                            div(id='email-copy-wrapper')
                                div(id='email-copy-content')
                                    div(class='email-address')
                                        input(
                                            id='email-text'
                                            type='text'
                                            value='ypandesign@gmail.com'
                                            disabled
                                            )
                                        button(id='copy-email', type='button') COPY
                                    div(id='email-copy-success', class='hidden')
                        li
                            a(href='#') Resume
                        li
                            a(
                                target='_blank'
                                href='https://www.linkedin.com/in/yuling-pan-china/'
                                ) Linkedin
        div(id='content-wrapper')
            block content
        
